.button {
  color: #ffffff;
  background-color: #68B738;
  padding: 8px 44px;
  min-height: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  align-items: center;
}