.gift {
  width: 280px;
  min-height: 290px;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color: @basic-green;
  background-image: url("../img/gift-cat-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  position: relative;

  &::after {
    content: "";
    mask-image: url(../img/stack.svg#present-icon);
    background-color: @white;
    width: 78px;
    height: 80px;
    position: absolute;
    z-index: 100;
    top: 58px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/gift-cat-mobile@2x.jpg");
  }
}

.gift-text {
  color: @white;
  text-align: center;
  font-family: @Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 161px;
  padding-top: 167px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .gift {
    width: 707px;
    min-height: 200px;
    padding: 30px;
    margin: 0 auto;
    align-items: center;
    justify-content: right;
    background-image: url("../img/gift-cat-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-cat-tablet@2x.jpg");
    }

    &::after {
      left: 78px;
    }
  }

  .gift-text {
    padding: 0;
    text-align: left;
    margin-right: 95px;
  }
}

@media (min-width: @desktop-width) {
  .gift {
    width: 245px;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    padding: 44px 30px;
    box-sizing: border-box;
    background-image: url("../img/gift-cat-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/gift-cat-desktop@2x.jpg");
    }

    &::after {
      left: 84px;
    }
  }

  .gift-text {
    text-align: center;
    margin: 0;
  }
}
