.how-it-works {
  padding: 0 20px;
}

.how-it-works__title {
  margin-bottom: 45px;
}

.how-it-works__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 26px 0;
}

.how-it-works__item {
  position: relative;

  &::after {
    content: "";
    background-color: @basic-green;
    width: 60px;
    height: 60px;
    position: absolute;
    top: -2px;
    left: 1px;
  }

  /* Лист */
  &--leaf::after {
    background-image: url("../img/leaf_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  /* Вода */
  &--water::after {
    background-image: url("../img/water_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  /* Питание */
  &--eat::after {
    background-image: url("../img/eat_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  /* Часы */
  &--clock::after {
    background-image: url("../img/clock_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.how-it-works__text {
  padding-left: 80px;
}

@media (min-width: @tablet-width) {
  .how-it-works {
    padding: 0 30px 47px;
    border-bottom: 1px solid #e6e6e6;
  }

  .how-it-works__title {
    margin-bottom: 32px;
  }

  .how-it-works__list {
    display: grid;
    grid-template-columns: 250px 323px;
    justify-content: space-between;
    gap: 37px 0;
  }

  .how-it-works__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 280px;

    &::after {
      width: 80px;
      height: 80px;
      top: 40px;
      left: 0;
    }

    &--leaf::before,
    &--water::before,
    &--eat::before,
    &--clock::before {
      content: "";
      top: 66px;
      left: 28px;
    }
  }

  .how-it-works__item:first-child::before {
    content: "1";
    position: absolute;
    color: @basic-grey;
    font-family: @Oswald;
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
    z-index: -1;
    top: 0;
    left: 118px;
  }

  .how-it-works__item:nth-child(2)::before {
    content: "2";
    position: absolute;
    color: @basic-grey;
    font-family: @Oswald;
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
    z-index: -1;
    top: 0;
    left: 110px;
  }

  .how-it-works__item:nth-child(3)::before {
    content: "3";
    position: absolute;
    color: @basic-grey;
    font-family: @Oswald;
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
    z-index: -1;
    top: 0;
    left: 113px;
  }

  .how-it-works__item:nth-child(4)::before {
    content: "4";
    position: absolute;
    color: @basic-grey;
    font-family: @Oswald;
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
    z-index: -1;
    top: 0;
    left: 113px;
  }

  .how-it-works__text {
    padding: 150px 0 0;
    font-size: 16px;
    line-height: 24px;
    width: 250px;
  }
}

@media (min-width: @desktop-width) {
  .how-it-works {
    padding: 0;
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
    border: none;
  }

  .how-it-works__title {
    margin-bottom: 32px;
  }

  .how-it-works__list {
    grid-template-columns: 246px 246px 243px 247px;
  }
}
