.main-header {
  font-family: @Oswald;
  color: @black;
  padding: 64px 0 0;
  position: relative;
  background: url("../img/logo-mobile-text.svg") no-repeat center 23px;
}

.main-header__logo {
  position: absolute;
  top: 10px;
  left: 20px;
}

@media (min-width: @tablet-width) {
  .main-header {
    background: none;
    display: flex;
    justify-content: space-between;
    padding: 0 34px 0 30px;
  }

  .main-header__wrapper {
    margin-top: 22px;
    margin-bottom: 60px;
  }

  .main-header__logo {
    position: relative;
    top: 0;
    left: 0;
  }

  .main-header__logo-image {
    padding-top: 3px;
  }
}

@media (min-width: @desktop-width) {
  .main-header__wrapper {
    width: 1220px;
    margin: 53px auto 0;
    z-index: 10;

    &--catalog {
      margin-bottom: 74px;
    }

    &--form {
      margin-bottom: 72px;
    }
  }

  .main-header__logo-image {
    padding: 0;
  }
}
