.main-nav {
  background-color: @white;
  position: relative;
}

.main-nav__toggle {
  width: 24px;
  height: 24px;
  position: absolute;
  top: -43px;
  right: 17px;
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}
