.main-footer {
  background-color: @basic-grey;
}

.main-footer__wrapper {
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px 0;
  align-items: center;
}

.main-footer__logo {
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__logo-link:focus {
  opacity: 0.6;
  outline: none;
}

@media (min-width: @tablet-width) {
  .main-footer__wrapper {
    display: grid;
    grid-template-columns: 143px 265px 168px;
    justify-content: space-between;
    gap: 0;
    padding: 55px 30px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer {
    position: relative;
  }

  .main-footer__wrapper {
    padding: 68px;
    width: 1220px;
    margin: 0 auto;
  }
}
