.promo__wrapper {
  padding: 0 0 138px 0;
  position: relative;

  &::before {
    content: "";
    width: 280px;
    height: 270px;
    background: url("../img/index-can-mobile.png") no-repeat 0 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    @media (min-resolution: 2dppx) {
      background: url("../img/index-can-mobile@2x.png") no-repeat 0 0;
      background-size: cover;
    }
  }
}

.promo__block {
  position: relative;
  padding: 27px 0 165px 0;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #62a53a url("../img/index-background.jpg") no-repeat center top;
    background-size: auto 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.promo__title {
  color: @white;
  padding-bottom: 25px;
  text-align: center;
  position: relative;
  z-index: 5;
  width: 300px;
  margin: 0 auto;
}

.promo__description {
  color: @white;
  font-family: @Oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 20px;
  margin: 0;
  position: relative;
  z-index: 5;
}

.promo__button {
  margin: 0 20px;
}

@media (min-width: @tablet-width) {
  .promo {
    background: none;
    padding: 0 0 528px 90px;
    width: 709px;
    box-sizing: border-box;
    position: relative;

    &::before {
      content: "";
      width: 709px;
      height: 609px;
      background: url("../img/index-can-tablet.png") no-repeat 0 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;

      @media (min-resolution: 2dppx) {
        background: url("../img/index-can-tablet@2x.png") no-repeat 0 0;
        background-size: cover;
      }
    }
  }

  .promo__wrapper {
    padding: 0;

    &::before {
      display: none;
    }
  }

  .promo__block {
    padding: 0;

    &::before {
      display: none;
    }
  }

  .promo__title {
    color: @black;
    width: 450px;
    margin: 0 0 40px 0;
    padding: 0;
    text-align: left;
  }

  .promo__description {
    color: @black;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 50px;
    text-align: left;
    padding: 0;
  }

  .promo__button {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    display: inline-block;
    padding: 17px 28px;
    position: relative;
    z-index: 10;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    width: 100%;
    padding: 107px 0 0 0;
    min-height: 577px;
    margin: 0 0 83px 0;

    &::before {
      content: "";
      width: 552px;
      height: 499px;
      background: url("../img/index-can-desktop.png") no-repeat 0 0;
      position: absolute;
      bottom: unset;
      top: 27px;
      left: 56%;
      transform: translateX(-50%);
      z-index: 1;

      @media (min-resolution: 2dppx) {
        background: url("../img/index-can-desktop@2x.png") no-repeat 0 0;
        background-size: cover;
        left: 58%;
      }
    }

    &::after {
      content: "";
      width: 50%;
      height: calc(100% + 117px);
      background: @basic-green url("../img/index-background-desktop.jpg") no-repeat center;
      background-size: cover;
      position: absolute;
      top: -117px;
      right: 0;
    }
  }

  .promo__description {
    margin-bottom: 52px;
    width: 450px;
  }

  .promo__container {
    width: 1220px;
    margin: 0 auto;
    padding-left: 80px;
    box-sizing: border-box;
  }

  .promo__button {
    max-width: 450px;
  }
}
