.site-list {
  font-family: "Oswald", sans-serif;
  font-size: 100px;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  padding: 22px 0 24px 0;
  border-top: 1px solid #e6e6e6;
  text-align: center;
}

.site-list__item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.site-list__link {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .site-list {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 0 35px;
  }

  .site-list__item {
    border: none;
    padding: 19px 0 10px;
  }

  .site-list__item:last-child {
    border-bottom: none
  }

  .site-list__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
  }
}