.comment-group {
  padding: 26px 20px 19px;
}

.comment-group__textarea {
  color: @dark-grey;
  font-family: @Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding: 14px;
  border: 1px solid @light-grey;
}

@media (min-width: @tablet-width) {
  .comment-group {
    padding: 0 70px;
  }
}

@media (min-width: @desktop-width) {
  .comment-group {
    padding: 0 110px;
  }
}
