.form {}

.form__container {}

.form__group {
  padding: 0;
  margin: 0;
  border: none;
}

.form__group-title {
  color: @black;
  font-family: @Oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 26px;
}

.form__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.form__button {
  width: 100%;
}

.form__text {
  color: @black;
  text-align: center;
  font-family: @Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding: 0;
  margin: 21px 0 32px;
}
