.control__label {
  color: @dark-grey;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .control__label {
    font-size: 20px;
    line-height: normal;
  }
}
