.text-input {
  display: flex;
  gap: 15px;
  position: relative;

  &--email::after {
    content: "";
    position: absolute;
    background: url("../img/email-icon.svg") no-repeat center;
    width: 20px;
    height: 20px;
    right: 14px;
    top: 12px;
  }

  &--phone::after {
    content: "";
    position: absolute;
    background: url("../img/phone-icon.svg") no-repeat center;
    width: 20px;
    height: 20px;
    right: 14px;
    top: 12px;
  }
}

.text-input__label {
  color: @dark-grey;
  font-family: @Oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  align-self: center;
  max-width: 160px;
}

.text-input__input {
  width: 100%;
  height: 45px;
  border: 1px solid @light-grey;
  background-color: @white;
  padding: 8px 13px;
  box-sizing: border-box;
  display: block;
  font-family: @Oswald;
  font-size: 20px;
  font-weight: 400;

  &::placeholder {
    color: @dark-grey;
    font-family: @Oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
  }

  &:invalid {
    border: 2px solid #ff8080;
  }

  &:placeholder-shown {
    border: 1px solid @light-grey;
  }

  &:hover {
    border-color: @special-light-grey;
    cursor: pointer;
  }

  &:focus {
    outline: 2px solid @dark-grey;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid @dark-grey;
  }

  &:disabled {
    cursor: default;
  }
}

/*   Убирает стрелки у полей number */
.text-input__input [type="number"] {
  appearance: textfield;
}

.text-input__input::-webkit-outer-spin-button,
.text-input__input::-webkit-inner-spin-button {
  appearance: none;
}

@media (min-width: @tablet-width) {
  .text-input__label {
    font-size: 20px;
    line-height: normal;
    max-width: 270px;
  }

  .text-input {
    &--email::after,
    &--phone::after {
      top: 16px;
    }
  }

  .text-input__input {
    font-size: 20px;
    line-height: normal;
    height: 52px;
    padding: 8px 17px;

    &::placeholder {
      font-size: 20px;
      line-height: normal;
    }
  }
}
